

.login{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.lContainer{
    border:1px solid green;
    gap:10px;
    display:flex;
    flex-direction:column;
    height:500px;
    width:500px;
    justify-content:center;
    align-items:center;
    border-radius:15px;

}
.lContainer>input{
    width:300px;
    padding:10px;
    border-radius:15px;
    border-style:none;
    border:1px solid black;
}

.lContainer>button{
    border-radius:15px;
    border-style:none;
    border:1px solid black;
    padding:10px;
    width:100px;
    background-color:darkblue;
    color:white;
}