/* body{
    background-color: black;

}

h1,h2,h3,h4,h5{
    color:rgb(0, 204, 255);
}

p{
    color:orange;
}

span{
    color:red;
   
}

button{
    color: violet;
}

.header{
    background-color: rgb(6, 10, 66) !important;
}

body{
    background-color: black;

}


p{
    color:orange;
}

span{
    color:rgb(30, 106, 248);
   
}

button{
    color: violet;
}

.header , .mail{
    background-color: rgb(6, 10, 66) !important;
}

 */
